.price-filter__title {
  margin-bottom: 18px;
  margin-top: 37px;
  font-size: 30px;
  font-weight: 400;
  color: #FFFFFF;
}

.price-filter__labels,
.price-filter__values {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price-filter__labels {
  margin-bottom: 10px;
}

.price-filter__label {
  font-size: 18px;
  font-weight: 400;
  color: #FFFFFF;
}
